<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home Inventory Manager System</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header>
          <h1>Home Inventory Manager</h1>
        </header>
      </div>
      <div id="content" class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="messages alert-success ">
              <ul class="flashes" >
              {% for category, message in messages %}
                <ol class="{{ category }}">{{ message }}</ol>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
        <div class="col-md-12">
          <h2> Add Product </h2>
          <form id="add_product" action="/Products" enctype="multipart/form-data" method="POST">
            <input type="text" name="itemName"/><br>
            <input type="file" name="product_sku"/>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
        </div>
        <div class="col-md-12">
          <h2> Find product</h2>
          <form id="find_product" action="/findProducts" enctype="multipart/form-data" method="POST">
          <input type="text" name="productName"/><br>
          <input type="file" name="product_code"/>
          <button type="submit" class="btn btn-primary"> Find product </button>
          </form>
        </div>
        <div class="container">
          {% for item in data %}
            <div class = "content">
              <p> Name : {{ item[0] }}</p>
              <p> Barcode : {{ item[1] }}</item></p>
              <p> Amount : {{ item[2] }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>